{% extends "lab_8/layout/base.html" %} {% block content %}
<section>
    <div class="container" id="lab8" align="center">
        <button onclick="facebookLogin()">Login with Facebook</button>
    </div>
</section>
{% endblock %}

'<div class="cover"><img src="'+ user.cover.source +'" width="851px"/></div>' +