{% extends "lab_4/layout/base.html" %}
{% load staticfiles%}
    {% block content %}
	<img src="{% static 'mt.png' %}" class="img-circle" widht="200" height="200"style="float: right"></img>
    <h1>Portofolio</h1>
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
		<span>
            {{content}}
        </span>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>

	{% endblock %}


