{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 50%;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -25%; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
	.status{
		font-family: courier;
		font-size: 20px;
	}
	.hello{
		font-size:30px;
	}
</style>
<div class="center_screen">
    <p class="status" id="test"><span class="hello">Hello, this is {{ name }}.</span> {{ content }}.</p>
</div>
{% endblock %}