body {
	background: white;
	margin-bottom: 150px;
}

.user-profile{
  font-size :24px;
}

#lab8 {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.75);
}


/* Custom navbar style */
.navbar-header{
	background-color:white;
}

.navbar-static-top {
	margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
	cursor: pointer;
}