{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="friend-description" id="friend-description">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> {{friend.friend_name}}</h2>
					<h3> {{friend.friend_npm}} </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}